<div.container>
  <header>
    <page-header />
  </header>
  <main>
    <aside-left />
    <aside-right />
  </main>
</div>

style {
  .container {
  	  padding: 10px;

      main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 6vw;

        margin-top: 3vw;
      }

      
  }

  @media (max-width: 600px) {
    .container main {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 6vw;
    }
  }
}
